$line-animation-duration: 2s;
$hover-animation-duration: 600ms;
$border-width: 2px;

.content,
.btn,
.card {
  transition: all $hover-animation-duration;
}

.card {
  position: relative;
  overflow: hidden;
  padding: 2.5rem 1.5rem;
  align-items: unset;
  background-color: white;
  border: 0.5em;
  color: black;
  height: 100%;
  width: 100%;
  transition: 500ms;
  border: calc($border-width + 1px) solid white;

  & a {
    width: 100%;
  }
  &:hover {
    background-color: white;
    transform: scale(1.06);
  }

  &.hoverable:hover {
    border: $border-width solid var(--jprog-blue);

    & .content {
      transform: translateY(-20px) scale(0.94);
    }

    & .btn {
      transform: translate(-50%, -20%);
    }
  }
}

.active {
  transform: scale(1.06);
  border-radius: unset;

  .border-line {
    position: absolute;
    inset: $border-width;
    display: block;
    box-sizing: border-box;
    z-index: 100000;
    &::before {
      content: " ";
      top: -$border-width;
      left: -$border-width;
      box-sizing: border-box;
      position: absolute;
      background: var(--jprog-blue);
      width: calc(100% + 2 * $border-width);
      height: $border-width;
      animation: x-line-animate $line-animation-duration linear infinite;
      $hover-animation-duration: 1s;
    }
  }

  .border-line:nth-child(odd)::before {
    width: $border-width;
    height: calc(100% + 2 * $border-width);
    animation: y-line-animate $line-animation-duration linear infinite;
  }
  .border-line:nth-child(3),
  .border-line:nth-child(4) {
    transform: rotate(180deg);
  }
}

.btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 110%);
  min-width: 200px;
  border: $border-width solid var(--jprog-blue);
  color: var(--jprog-blue);
}

@keyframes x-line-animate {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform: scaleX(1);
    transform-origin: right;
  }

  100% {
    transform: scaleX(0);
    transform-origin: right;
  }
}

@keyframes y-line-animate {
  0% {
    transform: scaleY(0);
    transform-origin: bottom;
  }
  50% {
    transform: scaleY(1);
    transform-origin: bottom;
  }
  50.1% {
    transform: scaleY(1);
    transform-origin: top;
  }

  100% {
    transform: scaleY(0);
    transform-origin: top;
  }
}
