.partner-box {
  height: 25rem;
  background-color: #fed403;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .company-name {
    font-size: 5rem;
  }

  .description {
    font-size: 2rem;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);
  }
}
