.title {
  font-size: 2rem;
  text-transform: none;
}

.price {
  font-size: 3rem;
  line-height: 100%;
  color: red;
}

.features {
  list-style: none;
  text-align: left;
  padding-left: .5rem;
  & li::before {
    content: "~";
  }
}

.default {
  font-size: 1.6rem;
  text-transform: none;
  font-weight: unset;
  line-height: unset;
}
