.title {
  font-size: 2rem;
  text-transform: none;
}

.price {
  font-size: 3rem;
  line-height: 100%;
  color: var(--jprog-blue);
}

.features {
  list-style: none;
  text-align: left;
  padding-left: 0.5rem;
  & li::before {
    content: "~";
    margin-right: 0.5rem;
  }
}

.default {
  font-size: 1.6rem;
  text-transform: none;
  font-weight: unset;
  line-height: unset;
}

.line {
  height: 1px;
  width: 100%;
  margin: 0.4rem auto;
  background-color: black;
}
