:root {
  --main-background: hsl(0, 0%, 95%);
  --letter-spacing: 0.12rem;
  --font-size: 16px;
  --black: hsl(0, 0%, 50%, 0.8);
  --navbar-height: 66px;
  --footer-height: 70px;
  --jprog-skyblue: #1eeee2;
  --jprog-blue: #1463b3;
}
